/* styles.css */

.posts-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-id {
    font-weight: bold;
}

.content {
    margin-top: 10px;
}

.post-image {
    max-width: 10%;
    height: auto;
    margin-top: 10px;
    
}
