<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Enter Room ID</h1>
    <form id="login_form" action="/view" method="post">
        <input type="text" name="room_id" placeholder="Enter the ROOM ID you want to view">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
