<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="styles.css">
</head>
<nav class="linkedin-navbar">
  <a href="/" class="logo">
    <img src="/images/ClassroomConnect.jpg" alt="ClassroomConnect">
  </a>
  <ul class="nav-list">
    <li><a href="/home">Home</a></li>
    <li><a href="#">Rooms</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="#">Learning</a></li>
  </ul>
  <div class="search-bar">
    <input type="text" placeholder="Search for jobs, people, or skills">
    <button type="button"><i class="fas fa-search"></i></button>
  </div>
  <div class="user-actions">
    <a href="/profile">My Profile</a>
    <a href="/login">Sign Out</a>
  </div>
</nav>
<body>
  <h1>Update Profile</h1>
  <form action="/update-profile" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="<%=name %>">
    </div>
    <div class="form-group">
      <label for="id">ID </label>
      <input type="text" name="id" id="id" value="<%= userId %>">
    </div>
    <div class="form-group">
      <input type="text" name="about" id="about">
    <label for="About">About </label>
    <div class="about-section">
    </div>
      
      <textarea name="about" id="about" rows="2" placeholder="Write a few lines about yourself..."></textarea>
    </div>
    <div class="form-group">
      <label for="profilePic">Update Profile Picture:</label>
      <input type="file" name="profilePic" id="profilePic">
    </div>
    <div class="form-group">
      <label for="id">SEM </label>
      <input type="text" name="sem" id="sem" required>
    </div>
    <div class="form-group">
      <label for="id">SECTION </label>
      <input type="text" name="sec" id="sec" required>
    </div>
    <div class="form-group">
      <input type="submit" value="Update Profile" class="submit-btn">
    </div>
  </form>



