<h1>REGISTRATION FORM</h1>
<form action="" method="post">
    <input type="text" name = "id" placeholder="Enter your ID"><br><br>
    <input type="text" name = "Name" placeholder="Enter your name"><br><br>
    <input type="email" name = "email" placeholder="Enter your EMail"><br><br>
    <input type="number" name = "Ph_no" placeholder="Enter your Phone number"><br><br>
    <input type="password" name = "password" placeholder="Enter your Password"><br><br>
    <input type="submit" value = "Submit">
</form>