<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    
  </head>
  <nav class="linkedin-navbar">
    
    <img src="../images/ClassroomConnect-removebg-preview.png" height="90px" >
  <ul class="nav-list">
    <li><a href="/home">Home</a></li>
    <li><a href="/join">Create Rooms</a></li>
    <li><a href="/dashboard">Upload Posts</a></li>
    <li><a href="/presenting">Presenting</a></li>
  </ul>
 
  <div class="user-actions">
    <a href="/profile">My Profile</a>
    <a href="/login">Sign Out</a>
  </div>
  </nav>
<body>
    <div class="container" style="flex-direction: column;">
       
            <!-- User info section -->
            
           
            <div class="user-info">
                <div class="user_id"><p id="user_id">User ID: <%= userId %></p>  </div>              
               <div class="name"> <p id="name">Name:<%= name %></p> </div>
               <div>
               
                  <form action="/download" method="get">
                    <% presenting_notes.forEach(note => { %>
                      <p><%= note.notes %></p>
                    <input type="hidden" name="file_path" value="<%= note.notes%>">
                    <button type="submit">Download</button>
                </form>
                <% }) %>
              
            </div>
            
        </div>
        <form action="/new-upload" method="post" enctype="multipart/form-data" id="new-files" style="margin-top: 10px;">
          <label for="new_files">Upload new files</label>
          <input type="file" name="presenting" placeholder="Upload Your file here">
          <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>